.navbar2 {
  margin-top: 10px;
  margin-left: -100px;
  color: #000000;

}
a{
  text-decoration: none;
}
.navbar2 .navbar-brand2 a {

  display: block;
  text-decoration: none;
  color: #000000;
}
  a:hover{
  text-decoration: none;
}
h5 {
  color: #0D6986;

  font-family: 'Vollkorn SC';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 22px;
  display: flex;
  align-items: center;
  letter-spacing: -0.02em;
}

section {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
}

section .imgbx {
  position: relative;
  width: 500px;
  height: 100%;

}

section .contentbx {
  display: flex;
  justify-content: center;
  width: 50%;
}
.popup{
 width: 400px;
  background-color: rgb(253, 8, 8);
  border-radius: 6px;
  text-align: center;
 
  margin-left:500px ;
  transform: translate(-50%, -50%) scale(0.1);
  padding: 0 30px 30px;
  visibility: hidden;
  transition: transform 0.4s, top 0.4s;
}
.open-popup{
  visibility: visible;
  top:100%;
  transform: translate(-50%, -50%) scale(1);
}
.form-control {

  display: block;
  width: 110%;
  margin-bottom: 8px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #b9ecec;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.right2 {

  font-size: 14px;
  margin-left: 70px;
  color: #228DAF;
}

.start {
  width: 250px;
  margin-left: 130px;
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.333333px;

  /* Text color/2 */
  color: #746F79;


}

.create {
  margin-top: 50px;
  margin-left: 130px;
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 120%;

  /* or 38px */
  display: flex;
  align-items: center;
  letter-spacing: -0.025em;

  /* Green/2 */
  color: #0D6986;


}

.create2 {
  margin-top: 100px;
  margin-left: 130px;
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 120%;

  /* or 38px */
  display: flex;
  align-items: center;
  letter-spacing: -0.025em;

  /* Green/2 */
  color: #0D6986;

}

.btnlog {
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 28px;
  gap: 10px;
  margin-left: 20px;
  position: absolute;
  width: 300px;
  height: 35px;


  /* CA firm/Primary color */
  background: #0D6986;
  border-radius: 10px;
}
.btnlog2 {
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 28px;
  gap: 10px;
  margin-left: 110px;
  position: absolute;
  width: 300px;
  height: 35px;


  /* CA firm/Primary color */
  background: #0D6986;
  border-radius: 10px;
}
.btnlog3 {
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 28px;
  gap: 10px;
  margin-left: 530px;
  position: absolute;
  width: 300px;
  height: 35px;


  /* CA firm/Primary color */
  background: #0D6986;
  border-radius: 10px;
}
.btnlog3 a {
  color: #fff;
  text-decoration: none;
}
.btnlog3 a:hover {
  color: #fff;
}
.footer {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;

  /* identical to box height */
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.333333px;

  /* Green/1 */
  color: #00475D;
  margin-top: 50px;
  margin-left: 90px;
}
.footer2 {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;

  /* identical to box height */
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.333333px;

  /* Green/1 */
  color: #00475D;
  margin-top: 50px;
  margin-left: 150px;
}

.imagelog {
  height: 120%;
  width: 100%;

}

.fea-box4 {
  margin-top: 140px;
  text-align: center;
  margin-left: 620px;
}

.create3 {
  Width: 187px;
  text-align: center;
  margin-left: 590px;
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 120%;
  letter-spacing: -0.025em;

  /* Text color/1 */
  color: #00475D;



}
.form-group3{
  Width:50%;
  margin-left: 460px;
}
.create4 {
  Width: 287px;
  text-align: center;
  margin-left: 530px;
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 120%;
  letter-spacing: -0.025em;

  /* Text color/1 */
  color: #00475D;



}
.create5 {
  Width: 287px;
  text-align: center;
  margin-left: 530px;
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 120%;
  letter-spacing: -0.025em;

  /* Text color/1 */
  color: #00475D;



}

.start3 {
  width: 280px;
  margin-top: 15px;
  text-align: center;
  margin-left: 540px;
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.025em;

  color: #746F79;



}
.start9{
  width: 280px;
  margin-top: 15px;
  text-align: center;
  margin-left: 590px;
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.025em;

  color: #746F79;

}
.start5 {
  width: 350px;
  margin-top: 15px;
  text-align: center;
  margin-left: 500px;
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.025em;

  color: #746F79;



}
.start10 {
  width: 350px;
  margin-top: 15px;
  text-align: center;
  margin-left: 500px;
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.025em;

  color: #746F79;



}

.btnlog2 {
  width: 200px;
  margin-left: 70px;
  justify-content: center;
  color: #fff;
  align-items: center;
  padding: 12px 28px;
  gap: 10px;
  width: 359px;
  background: #0D6986;
  border-radius: 10px;
}

.sdlinks {
  width: 300px;
  margin-top: 15px;
  text-align: center;
  margin-left: 550px;
  font-size: 12px;
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;

  /* Text color/2 */
  color: #746F79;



}

.backlinks {
  width: 200px;
  margin-top: 15px;
  text-align: center;
  margin-left: 580px;
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: #00475D;

}
.form-group1{
  color: #00475D;
 
}
.start8 {
  width: 250px;
  margin-left: 160px;
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.333333px;

  /* Text color/2 */
  color: #746F79;


}

.create8 {
  margin-top: 150px;
  margin-left: 130px;
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 120%;

  /* or 38px */
  display: flex;
  align-items: center;
  letter-spacing: -0.025em;

  /* Green/2 */
  color: #0D6986;


}